
.plans__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.plan h1{
    display: inline;
    color: var(--color-primary);
}

.plan h4{
    margin-top: 2rem;
}

.plan p{
    margin-top: 1rem;
    color: var(--color-gray-100);
}

.plan p.disable{
    color: var(--color-gray-400);
    text-decoration: line-through;
}

.plan button{
    margin-top: 3rem;
    cursor: pointer;
}




/*==============TABLES(medium queries)================*/
@media screen and (max-width:1024px){
    .plans__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}



/*==============MOBILE PHONES(small queries)================*/
@media screen and (max-width:700px){
    .plans__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .plan{
        width: 90%;
        margin-inline: auto;
    }
}
