.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  border: 1px solid black;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 500ms ease;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-around;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  font-size: larger;
  width: 40%;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: rgb(41, 40, 40);
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft >select{
  margin-bottom: 10px;
}

.productUploadImg{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 10px;
}

.productFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload{
  display: flex;
  align-items: center;
}

/* .productButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
} */


.productUpdateBtns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productUpdateBtns button{
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: teal;
    border-radius: 5px;
    transition: all 500ms ease;
    font-weight: bolder;
}

.productUpdateBtns button:hover, .productAddButton:hover{
    background: var(--color-secondary);
    color: hsl(240,48%,15%);
    transform: scale(1.1);
}

.productUpdateIcon{
  cursor: pointer;
  transition: all 800ms ease;
}

.productUpdateIcon:hover{
  transform: scale(1.5);
  color: teal;
}