
.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper{
  width: 50%;
  padding: 20px;
  background-color:var(--color-gray-600);   
  border-radius: 1rem;
  font-weight: bolder;
}
.login-wrapper:hover{
    background-color:var(--color-gray-400);
  }

.login-wrapper h1{
    color: var(--color-gray-200);
    transition: var(--transition);
    margin-bottom: 1rem;
    
}

.login-wrapper h1:hover{
    color: var(--color-secondary);
    transform: scale(1.1);
}