.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-top: 0.5rem;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


/*ESTILOS PARA EL MENU DE PROFILE*/
.nav__links-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  gap: 1.5rem;
  transition: all 500ms ease;
}

.nav__links-profile{
  position: absolute;
  top: 100%;
  right: 10px;
  gap: 0;
  perspective: 200px;
}

.nav__links-profile :hover{
  transform: scale(1.1);
}

/* .nav__links-profile a:hover{
  color: var(--color-secondary);
} */

.nav__links-profile li{
  height: 4rem;
  width: 100%;
  box-shadow: -2rem 2rem 5rem rgba(0,0,0,0.4);
  animation: navAnimation 600ms ease forwards;
  transform: rotateX(90deg);
  opacity: 0;
  transform-origin: top;
}

.nav__links-profile li:nth-child(2){
  animation-delay: 200ms;
}


.nav__links-profile li a{
  /* background: lightslategray; */
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 3rem;
  text-decoration: none;
}

.show__nav-profile{
  display: flex;
}

.hide__nav-profile{
  display: none;
}

/*avatar*/
.nav__toggle-btn-avatar{
  border-radius:47%;
  border-color: transparent;
  cursor: pointer;
  transition: all 500ms ease;
  padding: 0;
}


@keyframes navAnimation {
  to{
      transform: rotateX(0);
      opacity: 1;
  }
}
