.contact__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 0rem;
}

.contact__wrapper{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.contact__wrapper a{
    background: linear-gradient(-180deg,var(--color-primary),transparent); 
    font-size: 2rem;
    border: 2px solid var(--color-secondary);
    transition: var(--transition);
    padding: 2rem;
    border-radius: 1.5rem;
}

.contact__wrapper a:hover{
    background: transparent; 
    border: 2px solid var(--color-primary);
}

/*==============MOBILE PHONES(small queries)================*/
@media screen and (max-width:700px){
    .contact__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .contact__wrapper a{
        padding: 1rem;
        font-size: 4rem;
        border-radius: 1rem;
    }
}

